/*https://github.com/StartBootstrap/startbootstrap-freelancer/tree/master/dist
https://startbootstrap.com/previews/freelancer*/

@import "../node_modules/bootstrap/scss/bootstrap.scss";

$whiteColor: white;

/*$primaryColor: #1abc9c;
$secondaryColor: #2c3e50;
$footerColor: #1a252f;
$linkColor: #1abc9c;*/

$primaryColor: #1f2833;
$secondaryColor: #0b0c10;
$footerColor: #1a252f;
$linkColor: #45a29e;
$linkColorHover: #66fcf1;

/* Général */
body {
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  line-height: 1.2;
}

a {
  color: $linkColor;
}

a:hover {
  color: $linkColorHover;
}

/* nav */
.bg-secondary {
  background-color: $secondaryColor !important;
}

#navigation {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  transition: padding-top 0.3s, padding-bottom;
}

#navigation .container .a {
  text-decoration: none;
  font-weight: bold;
}

#navigation .navbar-nav {
  margin-top: 0;
}

#navigation .container .navbar-brand {
  color: $whiteColor;
}

#navigation.navbar-shrink {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

button .fas {
  color: $whiteColor;
}

.navbar-toggler {
  color: $whiteColor;
}

#responsive ul li a {
  color: $whiteColor;
}

#responsive ul li a:hover {
  color: $linkColorHover;
}

/* header */
.bg-primary {
  background-color: $primaryColor !important;
}

.master-head {
  padding-top: calc(6rem + 104px);
  padding-bottom: 6rem;
}

.master-head .avatar {
  width: 15rem;
}

.master-head .heading {
  font-size: 4rem;
  line-height: 3.5rem;
}

.divider-custom {
  margin: 1.25rem 0 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider-custom .divider-custom-line {
  width: 100%;
  max-width: 7rem;
  height: 0.25rem;
  background-color: #2c3e50;
  border-radius: 1rem;
  border-color: #2c3e50 !important;
}

.divider-custom .divider-custom-line:first-child {
  margin-right: 1rem;
}

.divider-custom.divider-light .divider-custom-line {
  background-color: $whiteColor;
}

.fas {
  font-size: 30px;
  margin-right: 1rem;
}

@media screen and (max-width: 992px) {
  .master-head .heading {
    line-height: 5rem;
  }
}

.master-head .masthead-subheading {
  font-size: 1.5rem;
}

/* Section Portfolio */
.page-section {
  padding: 6rem 0;
}

.page-section .page-section-heading {
  font-size: 3rem;
  line-height: 2.5rem;
}

#portfolio .portfolio-item {
  cursor: pointer;
  position: relative;
  display: block;
  max-width: 25rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

#portfolio .portfolio-item .portfolio-item-caption:hover {
  opacity: 1;
}

#portfolio .portfolio-item .portfolio-item-caption {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  background-color: $primaryColor;
}

/* About Section */
@media screen and (max-width: 992px) {
  .lead {
    margin-bottom: 3rem;
  }
}

/* Contact Section */
.card {
  margin: 0 auto;
  width: 30rem;
}

.card-tile {
  font-size: 12px;
}

.card-subtitle {
  font-size: 12px;
}

.card .socials {
  margin: 0 auto;
  width: 50%;
}

.card .socials a {
  color: $primaryColor;
}

.card-text {
  font-size: 30px;
}

/* Footer */
.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: $secondaryColor;
  color: $whiteColor;
}

.copyright {
  background-color: $footerColor;
}

/* Slider */
.splide {
  position: relative;
  margin: auto;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 992px) {
  #navigation .container .navbar-brand {
    font-size: 1.75rem;
  }
}
